
<h2>Search Pokemon:</h2>

<!-- flying, dragon, ghost, steel, normal, ground, grass, rock, dark
    ice, electric, psychic, fighting, poison, bug, water, fire, fairy
-->
<div class="container">
<label for="type">Types: </label>
<select id="type" class="form-select">
    <option>
        <p>flying</p>
    </option>
    <option>
        <p>dragon</p>
    </option>
    <option>
        <p>steel</p>
    </option>
    <option>
        <p>normal</p>
    </option>
    <option>
        <p>ground</p>
    </option>
    <option>
        <p>grass</p>
    </option>
    <option>
        <p>rock</p>
    </option>
    <option>
        <p>dark</p>
    </option>
    <option>
        <p>ice</p>
    </option>
    <option>
        <p>electric</p>
    </option>
    <option>
        <p>fighting</p>
    </option>
    <option>
        <p>poison</p>
    </option>
    <option>
        <p>bug</p>
    </option>
</select>


<button class="btn "></button>
</div>

