<h2>Search Pokemon:</h2>

<!-- flying, dragon, ghost, steel, normal, ground, grass, rock, dark
    ice, electric, psychic, fighting, poison, bug, water, fire, fairy
-->
<div class="container">
<label for="type">Types: </label>
<select id="type" class="col-sm-4" id="typeInput" name="typeInput" type="string" [(ngModel)]="input">
    <option value="water">
        water
    </option>
    <option value="dragon">
        dragon
    </option>
    <option value="steel">
        steel
    </option>
    <option value="normal">
        normal
    </option>
    <option value="ground">
        ground
    </option>

    <option value="grass">
        grass
    </option>
    <option value="rock">
        rock
    </option>
    <option value="dark">
        dark
    </option>
    <option value="ice">
        ice
    </option>
    <option value="electric">
        electric
    </option>
    <option value="fighting">
        fighting
    </option>
    <option value="poison">
        poison
    </option>
    <option value="ghost">
        ghost
    </option>
    <option value="psychic">
        psychic
    </option>
    
    <option value="fire">
        fire
    </option>
    <option value="fairy">
        fairy
    </option>
</select>


<button class="btn btn-primary col-sm-4" (click)="getPokemon()">Catch a Pokemons!</button>


<table class="table"  >
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Sprittes</th>
        </tr>
    </thead>
    <tbody *ngFor="let pokemon of pokemonList">
        <tr>
            <td>{{pokemon.name}}</td>
            <td>
                <img [src]="pokemon.sprites.sprites.front_default">
            </td>
            
        </tr>
    </tbody>

</table>

